* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

.wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.container {
  width: 240px;
  border: 1px solid #ccc;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  border-radius: 50%;
}

.visit-profile {
  padding: 8px 16px;
  margin: 12px;
  background-color: #80c29a;
  border: none;
  font-size: 0.7rem;
  font-weight: 600;
  cursor: pointer;
}
